
include ./cdn.jade
footer.text-center(style = "color: white; position:fixed; bottom:0; width:100%;")
    p(style="margin:5px;") <strong>Developed by Nishant Tomer for FreeCodeCamp.</strong><br/>
        a.btn.btn-primary(href="https://www.freecodecamp.com/challenges/build-a-nightlife-coordination-app",style="margin:5px 5px 0 0;") FCC | Instructions 
        a.btn.btn-primary(href="https://github.com/nishant-tomer/fcc-nightlife",style="margin:5px 5px 0 0;") Github Repository
