title Where Tonight ?
style.
    input::-webkit-input-placeholder {
        color: white !important;
        }
         
        input:-moz-placeholder { 
        color: white !important;

        }
         
        input::-moz-placeholder {
        color: white !important;

        }
         
        input:-ms-input-placeholder {  
        color: white !important;

        }

    
    
if user != undefined    
    script.
        var user = '#{user.bars}'
else 
    script.
        var user = null
        
            
